/node_modules
/public/hot
/public/storage
/public/phpmyadmin
/public/adminer.php
/storage/*.key
/storage/media-library/temp
/vendor
/.vagrant
/files
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
.idea/
_ide_helper*
.phpstorm.meta.php
.env.testing
docker/dbdata
firebase.json
